<% if flash[:notice].present? || @favorites.empty? %>
  <div id='alertbox'>
    <h3><%= flash[:notice] %></h3>
      <% flash.discard(:notice) %>
      <% if @favorites.empty? %>
          <h3>You haven't saved any favorite concerts.</h3>
      <% end %>
  </div>
<% end %>

<div class="content">
  <% if @favorites.any? %>
  <h1>Favorite Concerts</h1>
    <% @favorites.each do |favorite| %>
      <p>
        <%= link_to "#{favorite.concert.date} - #{favorite.concert.venue} - #{favorite.concert.tour}", "#", :class=>"setlist_button" %>
      </p>
      <div class="setlist">
        <% if favorite.concert.first_set.present? %>
          <ul>
            <li>Set 1</li>
            <% favorite.concert.first_set.each do |set| %>
              <li><%= link_to set.song.title, "songs/#{set.song.id}" %><span class="info_part"><%= set.song.info %></span></li>
            <% end %>
          </ul>
          <ul>
            <li>Set 2</li>
            <% favorite.concert.second_set.each do |set| %>
              <li><%= link_to set.song.title, "songs/#{set.song.id}" %><span class="info_part"><%= set.song.info %></span></li>
            <% end %>
          </ul>
          <% if favorite.concert.third_set.present? %>
            <ul>
              <li>Set 3</li>
              <% favorite.concert.third_set.each do |set| %>
                <li><%= link_to set.song.title, "songs/#{set.song.id}" %><span class="info_part"><%= set.song.info %></span></li>
              <% end %>
            </ul>
          <% end %>
          <ul>
            <li>Encore</li>
            <% favorite.concert.encore.each do |set| %>
              <li><%= link_to set.song.title, "songs/#{set.song.id}" %><span class="info_part"><%= set.song.info %></span></li>
            <% end %>
          </ul>
        <% else %>
          <% if favorite.concert.setlists.empty? %>
            <p>No songs have been recorded for this concert</p>
          <% else %>
            <ul>
              <% favorite.concert.setlists.each do |set| %>
                <li><%= link_to set.song.title, "songs/#{set.song.id}" %><span class="info_part"><%= set.song.info %></span></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>  
      <%= button_to "Delete", favorite, :method=>:delete, :class=>"deletebutton" %>
    <% end %>
  <% end %>
</div>