<h1>Welcome to Deadsets</h1>
<%= "Concert is #{@concert}" %>
<%= form_for @concert do |f| %>
  <%= f.label :date, "Enter show date:" %>
  <%= f.text_field :date %>
  <%= f.submit "Submit" %>
<% end %>

<h2><%= @concert.details %></h2>

<%= link_to "Log In", new_user_session_path %>