<div class="content">
<h1><%= song.title %></h1>
<h2>Was played at <%= song.times_played %> concerts</h2>
<h2>Introduced live on <%= song.first_time_played %></h2>
<h2>Last played live on <%= song.last_time_played %></h2>
<h2>Played on average <%= song.avg_times_played %></h2>
</div>