<h1>Welcome to Deadsets</h1>
<h2>Please enter a Grateful Dead concert date in the MM-DD-YY format</h2>

<%= form_tag concerts_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if (@concerts) %>
  <% if (@concerts.empty?) %>
    <p>No concert for this date</p>
  <% else %>
  <% @concerts.each do |concert| %>
    <p>
      <%= simple_format(concert.details) %>
    </p>
  <% end %>
  <% end %>
<% end %>


<%= link_to "Log In", new_user_session_path %>