<% unless flash[:notice].nil? %>
  <div id='alertbox'>
    <h3><%= flash[:notice] %></h3>
      <% flash.discard(:notice) %>
  </div>
<% end %>

  <div class="content">
  <h1><%= @search_term %> - <%= @concerts.count %></h1>
    <% if (@concerts) %>
      <% @concerts.each do |concert| %>
        <p>
          <%= concert.date.strftime("%m/%d/%Y") %>
        </p>
        <p>
          <%= concert.venue %>
        </p>
        <p>
          <%= concert.tour %>
        </p>
        <ul>
          <% concert.songs.each do |song| %>
            <li><%= song.title %></li>li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <%= form_for concert.favorites.new do |f| %>
            <%= f.label :favorite, :class=>"hidden_label" %>
            <%= f.hidden_field(:concert_id) %>
            <%= f.submit %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


  </div>
</div>
