<div id="wrapper">
  <div id="header">
    <div id="headline">
      <img src="/assets/title.png">
    </div>
  </div>

    <div id="search_wrapper">
      <div id="search">
        <h2>Please enter a Grateful Dead<br> concert date in MM-DD-YY format</h2>
        <%= form_tag concerts_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
  <div class="content">
    <% if (@concerts) %>
      <% if (@concerts.empty?) %>
        <p>No concert for this date</p>
      <% else %>
      <% @concerts.each do |concert| %>
        <p>
          <%= simple_format(concert.details) %>
        </p>
      <% end %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "settings", edit_user_registration_path, :class => "user_links" %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete, :class => "user_links" %>
    <% else %>
      <%= link_to "sign in", new_user_session_path, :id => "sign_in" %>
          <%= link_to "sign up", new_user_registration_path, :class => "user_links" %>
    <% end %>
  </div>
</div>
