<% unless flash[:notice].nil? %>
  <div id='alertbox'>
    <h3><%= flash[:notice] %></h3>
      <% flash.discard(:notice) %>
  </div>
<% end %>

  <div class="content">
    <% if (@concerts) %>
      <% @concerts.each do |concert| %>
        <p>
          <%= simple_format(concert.details) %>
        </p>

        <% if user_signed_in? %>
          <%= form_for concert.favorites.new do |f| %>
            <%= f.label :favorite %>
            <%= f.hidden_field(:concert_id) %>
            <%= f.submit %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


  </div>
</div>
