<!DOCTYPE html>
<html>
<head>
  <title>CapstoneDeadsets</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div id="wrapper">
  <div class="nav">
    <% if user_signed_in? %>
          <%= link_to "Settings", edit_user_registration_path, :class => "user_links" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "user_links" %>
          <%= link_to "Favorites", favorites_path %>



        <% else %>
          <%= link_to "Sign in", new_user_session_path, :id => "sign_in" %>
              <%= link_to "Register", new_user_registration_path, :class => "user_links" %>
    <% end %>
  </div>

  <div id="header">
    <div id="headline">
      <%= link_to(image_tag("/assets/title.png"), root_path) %>
    </div>
  </div>

  <% unless a_devise_page? %>
    <div id="search_wrapper">
      <div id="searchfield">
        <h2>Search by Date</h2>
          <%= form_tag concerts_path, :method => 'get' do %>
            <%= text_field_tag :search_by_date, params[:search_by_date] %>
            <%= submit_tag "Search", :class => "searchbutton", :name => nil %>
          <% end %>
      </div>
      <div id="searchfield">
        <h2>Search by Venue</h2>
          <%= form_tag concerts_path, :method => 'get' do %>
            <%= select_tag :search_by_venue, options_from_collection_for_select(venue_options, "venue", "venue"), prompt: "Select something" %>
            <%= submit_tag "Search", :class => "searchbutton", :name => nil %>
          <% end %>
      </div>
      <div id="searchfield">
        <h2>Search by Tour</h2>
          <%= form_tag concerts_path, :method => 'get' do %>
            <%= select_tag :search_by_tour, options_from_collection_for_select(tour_options, "tour", "tour"), prompt: "Select something" %>
            <%= submit_tag "Search", :class => "searchbutton", :name => nil %>
          <% end %>
      </div>

    </div>
  <% end %>

<%= yield %>

</body>
</html>
