<!DOCTYPE html>
<html>
<head>
  <title>CapstoneDeadsets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <div id="header">
    <div id="headline">
      <%= link_to(image_tag("/assets/title.png"), root_path) %>
    </div>
  </div>

<%= yield %>

</body>
</html>
